<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osm.warehouseapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Options"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name=".Qc"
            android:label="@string/title_activity_qc" >
        </activity>
        <activity
            android:name=".Checkout"
            android:label="@string/title_activity_checkout" >
        </activity>
        <activity
            android:name=".fin"
            android:label="@string/title_activity_fin" >
        </activity>
    </application>

</manifest>
